@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Sansita+Swashed:wght@500&family=Teko:wght@600&display=swap');

#navbar {
    background-color: rgba(0, 0, 0, 0.61);
}

#navbar-links {
    display: flex;
    margin: auto;
}

.nav-item {
    color: #eeceee;
    margin: auto 2.5em;
    font-size: 1.8em;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    text-decoration: none;
}

.nav-item:hover {
    color: #9614b7a9;
    transition: color 0.6s;
}

a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 991px) {
    .nav-item {
        margin: auto 0em;
        font-size: 1.4em;
    }

    #logo {
        width: 50px;
    }
}

