@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#projects-container {
    width: 76%;
    height: 65vh;
    background-color: #b5ffe188;
    margin: 7em auto 0 auto;
    font-family: 'Lato', sans-serif;
}

#projects-carousel {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}
    
.projects-arrow {
    color: #9614b7a9;  
    background-color: transparent;
    font-size: 4.5em;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.projects-arrow:focus { 
    outline: none; 
}
  
.projects-arrow:hover {
    color: #9614b7;
    outline: none;
    border-color: #9ecaed;
    text-shadow: 0 0 10px #9ecaed;
}

.arrow-container {
    display: flex;
}

#left-arrow {
    margin: auto auto auto 0;
}

#right-arrow {
    margin: auto 0 auto auto;
}

#projects-carousel-centre {
    display: flex;
    width: 90%;
    margin-top: 0.5em;
}

#projects-img {
    height: 41vh;
    border-radius: 10%;
}

#projects-img:hover{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#project-link {
    margin: auto 2em auto 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    color:  #eeceee;
    text-shadow: 0 0 2px #0d0b0e;
    font-size: 2.2em;
    font-weight: bolder;
}

#github-btn {
    background-color: #eeceee;
    color: black;
}

#github-btn:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#projects-description {
    margin: auto 0;
    width: 30vw;
    font-size: 1.1em;
}

@media only screen and (min-width: 2501px) {
    #projects-container {
      max-width: 2500px;
      max-height: 1500px;
      margin-top: 5%;
    }

    #projects-img {
        height: 35vh;
        width: 30vw;
        max-width: 1000px;
        max-height: 700px;
        min-width: 200px;
    }
}

@media only screen and (max-width: 2500px) {
    #projects-container {
        width: 76%;
        height: 65vh;
        margin: 7em auto 0 auto;
    }

    #projects-img {
        height: 35vh;
        width: 30vw;
    }

    #projects-description {
        margin: auto 4em;
    }
}
  
@media only screen and (max-width: 1650px) {
    #projects-container {
        height: 60vh;
        margin: 5em auto 2em auto;
    }

    #projects-description {
        margin: auto 1em;
    }
}

@media only screen and (max-width: 1200px) {
    #projects-container {
        margin: 2em auto;
        height: 68vh;
        width: 84%;
    }

    #projects-img {
        height: 35vh;
        width: 344px;
    }
}

@media only screen and (max-width: 1100px) {
    #projects-carousel-centre {
        display: flex;
        flex-direction: column;
    }

    #projects-img {
        height: 154px;
        width: 300px;
    }

    #projects-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 22px auto;
        width: 95%;
        font-size: 0.9em;
        text-align: center;
    }

    #project-link {
        margin: auto;
    }
}


@media only screen and (max-width: 1030px) {
    #projects-img {
        height: 200px;
        width: 400px;
    }
}
  
@media only screen and (max-width: 991px) {
    #projects-container {
        height: 60vh;
    }

    #projects-img {
        height: 212px;
        width: 400px;
    }

    #projects-description {
        font-size: 0.8em;
    }

    #project-link {
        margin: auto;
    }

    .projects-arrow {
        font-size: 50px;
    }

    h1 {
        font-size: 1.2em;
    }

    #github-btn {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 991px) {
    #projects-img {
        height: 140px;
        width: 320px;
    }
}

@media only screen and (max-width: 730px) {
    #projects-img {
        height: 118px;
        width: 235px;
    }

    #projects-description {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 670px) {
    #projects-img {
        height: 110px;
        width: 235px;
    }

    #projects-description {
        font-size: 0.6em;
    }

    .projects-arrow {
        font-size: 45px;
    }

    h1 {
        font-size: 1.2em;
    }

    #github-btn {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 560px) {
    #projects-img {
        height: 110px;
        width: 210px;
    }
}

@media only screen and (max-width: 480px) {
    #projects-img {
        height: 90px;
        width: 180px;
    }
}

@media only screen and (max-width: 450px) {
    #projects-img {
        height: 75px;
        width: 170px;
    }

    #projects-description {
        font-size: 0.55em;
    }

    .projects-arrow {
        font-size: 40px;
    }

    h1 {
        font-size: 1em;
    }

    #github-btn {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 400px) {
    #projects-img {
        height: 87px;
        width: 160px;
    }

    #projects-description {
        font-size: 0.6em;
    }

    .projects-arrow {
        font-size: 40px;
    }

    h1 {
        font-size: 1em;
    }

    #github-btn {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 350px) {
    #projects-img {
        height: 101px;
        width: 154px;
    }

    #projects-description {
        font-size: 0.5em;
    }

    .projects-arrow {
        font-size: 30px;
    }
}
  
